.header{
	min-height: 100px;
	background-color: red;
}

.wrapper{
	overflow: hidden;
}

.contact{
	min-height: 200px;
	background-color: green;
	width: 60%;
	float: left;
}

.blog{
	min-height: 200px;
	background-color: yellow;
	width: 40%;
	float: right;
} 

.container{
	overflow: hidden;
}

.box{
	min-height: 150px;
    float: left;

    width: 14.28%;

}

.blue{
	background-color: royalblue;
}


.pink{
	background-color: deeppink;
}


.teal{
	background-color: teal;
}

.skyblue{
	background-color: skyblue;
}

.orange{
	background-color: orange;
}

.golden{
	background-color: darkgoldenrod;
}

.silver{
	background-color: silver;
}




.footer{
	min-height: 100px;
	background-color: black;
}
